
h1{
    position: absolute;
width: 365px;
height: 93px;
left: 124px;
top: 91px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
/* or 56px */


color: #000000;

}
.one1
{
    position: absolute;
width: 314px;
height: 315px;
left: 976px;
top: 226px;

background: url(_1.png);
}
.two2
{
    position: absolute;
width: 366px;
height: 59px;
left: 950px;
top: 511px;
border-radius:  50%;
background: #EFEFEF;
}
.metn{
    position: absolute;
width: 662px;
height: 374px;
left: 124px;
top: 202px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #000000;

}
.four4
{
    position: absolute;
    width: 189px;
    height: 32px;
    left: 157px;
    top: 857px;
    
    background: #EFEFEF;
border-radius: 50%;}
.three3
{
    position: absolute;
width: 232px;
height: 203px;
left: 124px;
top: 670px;

background: url(photo.png);
}


.firsth6{
    position: absolute;
    width:150px;
    height: 39px;
    left: 488px;
    top: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    }
.secondh6{
    position: absolute;
    width:150px;
    height: 39px;
    left: 733px;
    top: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    }  
.thirdh6{
    position: absolute;
    width:150px;
    height: 39px;
    left: 976px;
    top: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
        }  
.firsttext,.secondtext,.thirdtext{
    position: absolute;
    width:150px;
    height: 39px;
    left: 488px;
    top: 780px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    
    }
    .secondtext{
    position: absolute;
    left: 733px;
    top: 780px;
    }
    .thirdtext{
    position: absolute;
    left: 976px;
    top: 780px;
    }

@media (max-width:1345px) {
    .one1{
        position: absolute;
        margin-left: -150px;
    }
    .two2{
        display: none;
    }
    }
    @media (max-width:1157px) {
        .one1{
            position: absolute;
            margin-left: -250px;
            width:250px ;
            margin-top: 20px;
        }
        .metn{
           position: absolute;
           width: 580px;
        }
        }
        @media (max-width:1170px){
            .three3{
              display: none
            }
            .four4{
                display: none;
            }
            .one1{
                width: 180px;
            }
            .firsth6,.firsttext{
                position: absolute;
                margin-left: -360px;
            }
            .secondh6,.secondtext{
                position: absolute;
                margin-left: -260px;
            }
            .thirdh6,.thirdtext{
                position: absolute;
                margin-left: -160px;
            }
        }
        @media (max-width:1214px) {
            .one1{
                position: absolute;
                margin-left: -680px;
                width:230px ;
                height: 280px;
                margin-top: 500px;
            }
            .three3,.four4{
                display: none;
            }
            .firsth6,.firsttext{
                position: absolute;
                margin-left: -360px;
                margin-top: 440px;
                padding: 0;
            }
            .secondh6,.secondtext{
                position: absolute;
                margin-left: -350px;
                margin-top: 440px;
            }
            .thirdh6,.thirdtext{
                position: absolute;
                margin-left: -340px;
                margin-top: 440px;
            }
            }
            @media (max-width:817px) {
                .one1{
                    position: absolute;
                    margin-left: -740px;
                    width:230px ;
                    height: 280px;
                    margin-top: 540px;
                }
                .metn{
                    width: 470px;
                }
                .firsth6,.firsttext{
                    position: absolute;
                    margin-left: -360px;
                    margin-top: 440px;
                    width: 130px;
                }
                .secondh6,.secondtext{
                    position: absolute;
                    margin-left: -370px;
                    margin-top: 440px;
                }
                .thirdh6,.thirdtext{
                    position: absolute;
                    margin-left: -850px;
                    margin-top: 600px;
                }
                }
                
                @media (max-width:627px) {
                    .one1{
                        position: absolute;
                        margin-left: -790px;
                        width:230px ;
                        height: 280px;
                        margin-top: 740px;
                    }
                    .metn{
                        width: 350px;
                    }
                    .firsth6,.firsttext{
                        position: absolute;
                        margin-left: -360px;
                        margin-top: 580px;
                        width: 130px;
                    }
                    .secondh6,.secondtext{
                        position: absolute;
                        margin-left: -430px;
                        margin-top: 580px;
                    }
                    .thirdh6,.thirdtext{
                        position: absolute;
                        margin-left: -850px;
                        margin-top: 750px;
                    }
                    }
                    